body {
  margin: 0;
  font-family: "Titillium Web", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: #282323;
}

button {
  cursor: pointer;
}
